<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <!-- 引入组件库 -->
    <style>

    </style>
</head>
<body>
<div id="app">
    <el-form ref="form" :model="form1" label-width="80px">
        <el-form-item label="血型">
            <el-select v-model="form1.blood_type" placeholder="请选择血型">
                <el-option label="A型" value="A"></el-option>
                <el-option label="B型" value="B"></el-option>
                <el-option label="AB型" value="AB"></el-option>
                <el-option label="O型" value="O"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="疾病史">
            <el-input v-model="form1.illness"></el-input>
        </el-form-item>
        <el-form-item label="遗传病史">
            <el-input v-model="form1.family_illness"></el-input>
        </el-form-item>
        <el-form-item label="是否残疾">
            <el-radio-group v-model="form1.disability">
                <el-radio label="是"></el-radio>
                <el-radio label="否"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="身体健康">
            <div class="block">
                <el-slider
                        v-model="form1.body_health"
                        show-input>
                </el-slider>
            </div>
        </el-form-item>
        <el-form-item label="心理健康">
            <div class="block">
                <el-slider
                        v-model="form1.mental_health"
                        show-input>
                </el-slider>
            </div>
        </el-form-item>
        <el-form-item>
            <el-button
                    plain
                    @click="open1">
                提交
            </el-button>
        </el-form-item>
    </el-form>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../api/login.js"></script>
<script>
    var Main = {
        data() {
            return {
                form1: {
                    blood_type:'',
                    illness:'',
                    family_illness:'',
                    disability:'',
                    body_health:'',
                    mental_health:''
                }

            }
        },
        methods: {
            open1() {
                var params = {
                    bloodType:this.form1.blood_type,
                    illnessHistory:this.form1.illness,
                    familyHistory:this.form1.family_illness,
                    disability:this.form1.disability,
                    bodyHealth:this.form1.body_health,
                    mindHealth:this.form1.mental_health
                }
                console.log(this.form1.blood_type)
                axios.post('http://10.135.129.4:8081/dockersys/add/healthinfo?id=1',params)
                    .then(function(response){
                        console.log(response);
                    })
                    .catch(function(error){
                        console.log(error);
                    });
                this.$notify({
                    title: '成功',
                    message: '健康信息提交成功',
                    type: 'success'
                });
            },
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</body>
</html>